PORT=3000
DEBUG=True
ALLOWED_HOSTS=localhost,127.0.0.1

DB_HOST=localhost
DB_USER=root
DB_PASSWORD=password
DB_NAME=hrms_lite
DB_PORT=3306

JWT_SECRET=your-super-secret-jwt-key-change-in-production
DJANGO_SECRET_KEY=your-django-secret-key
FRONTEND_URL=http://localhost:5173
